body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: DodgerBlue;
}

.container {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 11);
}

.label-float input{
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #272262;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  border-radius: 0;
  }

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}

button {
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.generate-button {
  background-color: DeepSkyBlue;
  color: black;
  
}

.save-button {
  background-color: DeepSkyBlue;
  color: black;
}
